<h1>Item: <b><%= @item['title'] %> </b> </h1></br>
<h1>Price: <b><%= @item['price'] %> </b> </h1></br> 

<h1>Place a review</h1>

<%= form_for :review do |f| %>
  Rating: <%= f.select :rating, ['1', '2', '3', '4', '5']%> </br>
  Comment: <%= f.text_area :body %> </br>
  <%= f.submit %>
<% end %>

<h1>Reviews</h1>

<% @reviews.each do |review| %>

<div style="border: 1px solid gray; padding: 5px; margin: 5px;">
  <h1>User: <%= review['user_id'] %></h1>
  <h2>Rating: <%= review['rating'] %></h2>
  <h3>Comment: <%= review['body'] %></h3>
</div>

<% end %>

<%= link_to 'back', welcome_index_path%>
