<h1>Welcome to NaDa _StoRe</h1>
<% if session[:user_id].present?%>
		Hi, <%=session[:user_name]%>  <%= link_to 'myCart', cart_index_path, :method=> :post%>  <%= link_to 'Logout', user_logout_path%> 
<%	else %>
	<%=	link_to 'Login', welcome_login_path%> &nbsp <%= link_to 'SignUp', welcome_signup_path%>
<%	end%>
<%# link_to 'fill_db' , item_filldb_path %>
<table  style="width:50%">
  <tr>
    <td><b>Title</b></th>
    <td><b>Price</b></th> 
    <% if session[:user_id].present? %>	
    	<td><b>Quantity</b></th>
    <% end %>
    <td></th>
  </tr>
  <%# render :partial => 'line_items/cart_item', :collection => @line_items %>
  <% @items.each do |item|%>
  <tr>
    <td><%= link_to item['title'].to_s , item_index_path(item['id']) %></td>
    <td><%= item['price'] %></td> 
  	
    <td>
    <% if session[:user_id].present? %>	
	  	<%= form_for :item_tosend,  url: cart_add_path do |f| %> <!--"http://localhost:3030/users"-->
			 <p>
			 	<%= f.hidden_field :id, value: item['id']%>  
			    <%= f.text_field :quantity %>
			 </p>
		  	 <td>
		  	 	<%= f.submit "Add to cart"%>
		  	 	<%# link_to "Add to cart", cart_add_path(item), :method=> :post %><%# link_to 'Add to cart', cart_add_path %>
	  	<%end%>
	<%end%>
  	</th>
  </tr>
  <%end%>
</table>
</br> 