<h1>Welcome to NaDa _StoRe</h1>
<% if session[:user_id].present?%>
		Hi, <%=session[:user_name]%>  <%= link_to 'myCart', cart_index_path, :method=> :post%>  <%= link_to 'Logout', user_logout_path%> 
<%	else %>
	<%=	link_to 'Login', welcome_login_path%> &nbsp <%= link_to 'SignUp', welcome_signup_path%>
<%	end%>
<table  style="width:50%">
  <tr>
    <td><b>Title</b></th>
    <td><b>Price</b></th> 
    <td></th>
  </tr>
  <%# render :partial => 'line_items/cart_item', :collection => @line_items %>
  <% @items.each do |item|%>
  <tr>
    <td><%= link_to item['title'].to_s , item_index_path(item['id']) %></td>
    <td><%= item['price'] %></td> 
  	<td><%= link_to "Add to cart", cart_add_path(item), :method=> :post %>
  		<%# link_to 'Add to cart', cart_add_path %>
  	</th>
  </tr>
  <%end%>
</table>

</br> 